<div class="bg-dark">
  <nav class="navbar navbar-expand-lg navbar-dark">
    <span class="navbar-brand">
      <i class="material-icons">
        fingerprint
      </i>
    </span>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup"
      aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-item nav-link" [routerLink]="['/home']" [ngClass]="[current_route == '/home' ? 'active': '']">
          <i class="material-icons">
            home
          </i>
          Inicio
        </a>
        <a class="nav-item nav-link" [routerLink]="['/experience']"  [ngClass]="[current_route == '/experience' ? 'active': '']">
          <i class="material-icons">
            web
          </i>
          Lorem
        </a>
        <a class="nav-item nav-link" [routerLink]="['/skills']"  [ngClass]="[current_route == '/skills' ? 'active': '']">
          <i class="material-icons">
            stars
          </i>
          Ipsum
        </a>
      </div>
    </div>

    <span class="navbar-text">
      Bienvenido!
      <img src="/../assets/img/perfil.png" class="custom_avatar rounded mx-auto d-inline-block" alt="foto-perfil">
    </span>
  </nav>
</div>
