<div class="bg-dark">
  <nav class="navbar navbar-expand-lg navbar-dark">
    <span class="navbar-brand">
      <i class="material-icons">
        fingerprint
      </i>
    </span>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup"
      aria-expanded="false" aria-label="Toggle navigation" id="btn-mb-tooglemenu">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-item nav-link" [routerLink]="['/home']" [ngClass]="[current_route == '/home'|| current_route == '/' ? 'active': '']"
          (click)="toggle()">
          <i class="material-icons">
            account_circle
          </i>
          Perfil
        </a>
        <a class="nav-item nav-link" [routerLink]="['/experience']" [ngClass]="[current_route == '/experience' ? 'active': '']"
          (click)="toggle()">
          <i class="material-icons">
            web
          </i>
          Experiencia
        </a>
        <a class="nav-item nav-link" [routerLink]="['/skills']" [ngClass]="[current_route == '/skills' ? 'active': '']"
          (click)="toggle()">
          <i class="material-icons">
            stars
          </i>
          Habilidades
        </a>
      </div>
    </div>

    <span class="navbar-text">
      <label for="">NELSON PINZÓN</label>
      <img src="/../assets/img/perfil.png" class="custom_avatar rounded mx-auto d-inline-block" alt="foto-perfil">
    </span>
  </nav>
</div>
