.container_map {
  padding-bottom: 51px;
}
.modal-header {
  h4 {
    font-size: 13px;
    font-weight: 800;
  }
  button {
    font-size: 20px;
  }
}
.modal-body {
  font-size: 14px;
}
i {
  vertical-align: sub;
}
