
.container{
  padding-top: 30px;  
  .firstBox{
    text-align: -webkit-center;
   h4{ 
    margin-top: 40px;
   }
  }
  table {
    margin: auto;
    tr,
    td {
      img {
        height: 100px;
        width: 100px;
        margin: 5px;
        border: 1px solid darkolivegreen;
        padding: 10px;
        background-color: #b2b9c4;
        -webkit-box-shadow: 10px 10px 5px 0px rgba(189,185,189,1);
        -moz-box-shadow: 10px 10px 5px 0px rgba(189,185,189,1);
        box-shadow: 10px 10px 5px 0px rgba(189,185,189,1);
        border-top: 4px solid #bec6c7;
        border-right: 4px solid #838c8d;
        border-bottom: 4px solid #838c8d;
        border-left: 4px solid #bec6c7;
        @media screen and (max-width: 425px){
          height: 60px;
          width: 60px;
        }
      }
    }
  } 
  .customImage {
      background-color: transparent !important;
  }
  .margin_table {
    margin-bottom: 20px;
  }
  .scores {
    font-weight: bold;
    ol {
      padding-left: 25px;
      font-size: 23px;
      color: #2d9259;
    }
  }
}
