.wrapper {
  min-height: 631px;
  .container {
    padding-top: 50px;
    @media screen and (max-width: 425px) {
      padding-top: 10px;
    }
    .firstBox {
      text-align: -webkit-center;
      padding-bottom: 5px;
      h4 {
        margin-top: 40px;
        @media screen and (max-width: 425px) {
          margin-top: 15px;
        }
        p {
          @media screen and (max-width: 425px) {
            margin-bottom: 5px;
          }
        }
      }
      img {
        cursor: pointer;
        @media screen and (max-width: 767px) {
          width: 45px;
        }
      }
      .colum1 {
        @media screen and (max-width: 991px) and (min-width: 768px) {
          display: initial;
        }
      }
      .div1 {
        @media screen and (max-width: 1199px) and (min-width: 992px) {
          padding-top: 5px;
        }
      }
      .div2 {
        @media screen and (max-width: 1199px) and (min-width: 992px) {
          padding-top: 5px;
        }
        @media screen and (max-width: 991px) and (min-width: 768px) {
          width: 35px;
          padding-left: 0px;
          padding-right: 0px;
          padding-top: 5px;
        }
      }
      .paddingSlide {
        padding-left: 10px;
        padding-right: 5px;
        @media screen and (max-width: 1199px) and (min-width: 992px) {
          padding-left: 0px;
        }
        @media screen and (max-width: 991px) and (min-width: 768px) {
          padding-left: 0px;
          padding-top: 5px;
          padding-right: 5px;
          padding-bottom: 5px;
        }
      }
      .switch {
        position: relative;
        display: inline-block;
        width: 60px;
        height: 34px;
        margin-bottom: 0px;
        margin-top: 5px;
      }

      .switch input {
        opacity: 0;
        width: 0;
        height: 0;
      }

      .slider {
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #28a745;
        -webkit-transition: 0.4s;
        transition: 0.4s;
      }

      .slider:before {
        position: absolute;
        content: "";
        height: 26px;
        width: 26px;
        left: 4px;
        bottom: 4px;
        background-color: white;
        -webkit-transition: 0.4s;
        transition: 0.4s;
      }

      input:checked + .slider {
        background-color: #007bff;
      }

      input:focus + .slider {
        box-shadow: 0 0 1px #007bff;
      }

      input:checked + .slider:before {
        -webkit-transform: translateX(26px);
        -ms-transform: translateX(26px);
        transform: translateX(26px);
      }

      /* Rounded sliders */
      .slider.round {
        border-radius: 34px;
      }

      .slider.round:before {
        border-radius: 50%;
      }
    }
    table {
      margin: auto;
      tr,
      td {
        img {
          height: 100px;
          width: 100px;
          margin: 5px;
          border: 1px solid darkolivegreen;
          padding: 10px;
          background-color: #b2b9c4;
          -webkit-box-shadow: 10px 10px 5px 0px rgba(189, 185, 189, 1);
          -moz-box-shadow: 10px 10px 5px 0px rgba(189, 185, 189, 1);
          box-shadow: 10px 10px 5px 0px rgba(189, 185, 189, 1);
          border-top: 4px solid #bec6c7;
          border-right: 4px solid #838c8d;
          border-bottom: 4px solid #838c8d;
          border-left: 4px solid #bec6c7;
          @media screen and (max-width: 1024px) {
            height: 70px;
            width: 70px;
          }
          @media screen and (max-width: 425px) {
            height: 60px;
            width: 60px;
          }
        }
      }
    }
    .customImage {
      background-color: transparent !important;
    }
    .margin_table {
      margin-bottom: 20px;
    }
    .scores {
      font-weight: bold;
      @media screen and (max-width: 767px) {
        text-align: center;
      }
      ol {
        padding-left: 25px;
        font-size: 23px;
        color: #2d9259;
        @media screen and (max-width: 767px) {
          font-size: 20px;
          padding-left: 0px;
          list-style-position: inside;
        }
      }
      div {
        @media screen and (max-width: 425px) {
          padding-left: 10px;
        }
      }
    }
  }
}
