<div class="wrapper">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-md-3 firstBox">
        <app-timer [startCount]="started"></app-timer>        
        <h4>Juego de memoria</h4>
        <p>
          Encuentra todas las parejas, en el menor tiempo posible.
        </p>
      </div>
      <div class="col-sm-12 col-md-6">
        <table id='table' class="margin_table">
          <tr *ngFor="let row of table; trackBy: trackRow; let i = index">
            <td *ngFor="let image of row; trackBy: trackImage; let j = index">
              <a (click)="turnImage(image, i * row.length + j, $event)"><img id="{{ (i * row.length) + j }}" src="/../assets/img/memory.png"
                 draggable="false" alt="" [ngClass]="{'customImage': image.clicked}"/></a>
            </td>
          </tr>
        </table>
      </div>
      <div class="col-sm-12 col-md-3 scores">
        <div *ngIf="showScores">
          <h5><b>¡Felicidades!</b>, aquí están tus mejores tiempos:</h5>
          <ol>
            <li *ngFor="let item of arrayValues;">{{item}}</li>
          </ol>  
        </div>
      </div>
    </div>
    <div class="row pb-3">
      <div class="col-sm-12 text-center">
        <button (click)="reloadGame()" type="button" class="btn btn-success">
          {{play ? 'Jugar de nuevo' : 'Jugar'}}
        </button>
      </div>
    </div>
  </div>
</div>