<div class="bg-dark">
  <div class="container p-2">
    <div class="col-md-12 display">
      <div class="col-md-4 custom">
        <i class="material-icons">
          phone_iphone
        </i> <br>
        <label for="">320 945 44 84</label>
      </div>
      <div class="col-md-4 custom">
        <i class="material-icons">
          mail
        </i> <br>
        <label for="">njpilo@gmail.com</label>
      </div>
      <div class="col-md-4 custom">
        <i class="material-icons">
          account_box
        </i> <br>
        <label for="">https://www.linkedin.com/in/nelson-pinzon-4a258215b/</label>
      </div>
    </div>
  </div>
</div>
