.bgBlack {
  width: 100%;
  .container {
    padding: 0;
    @media screen and (max-width: 425px) {
      font-size: 10px;
    }
    .custom {
      color: white;
      text-align: center;
    }
  }
}
