<div class="wrapper">
  <div class="container">
    <div class="content_view">
      <div class="row">
        <div class="col-8 image_size">
          <img src="/src/assets/img/sd.jpg" alt="">
        </div>
        <div class="col-4">
          <h4 class="header_custom">Lorem</h4>
          <i class="material-icons">
            accessibility
          </i>
          <p>
            Lorem ipsum dolor sit amet consectetur adipiscing elit eget class, feugiat eleifend ad felis tellus hac
            neque nam, lobortis commodo vulputate accumsan at vel mauris primis. Pellentesque nunc nisi netus himenaeos
            massa magnis augue, quis cursus elementum phasellus feugiat habitant torquent, semper parturient viverra
            neque ornare porta. Ornare cras leo gravida condimentum mattis proin et euismod duis sociis tempor,
            himenaeos nascetur morbi metus odio inceptos velit fames nostra eu.
          </p>
        </div>
      </div>
      <div class="row section_two">
        <div class="col">
          <h4 class="header_custom _1">Lorem</h4>
          <i class="material-icons">
            school
          </i>
          <p>
            Lorem ipsum dolor sit amet consectetur adipiscing elit eget class
          </p>
        </div>
        <div class="col">
          <h4 class="header_custom _2">Lorem</h4>
          <i class="material-icons">
            code done
          </i>
          <ul>
            <li type="square">
              Lorem ipsum dolor
            </li>
            <li type="square">
              Lorem ipsum dolor
            </li>
            <li type="square">
              Lorem ipsum dolor
            </li>
            <li type="square">
              Lorem ipsum dolor
            </li>
            <li type="square">
              Lorem ipsum dolor
            </li>
          </ul>
        </div>
        <div class="col">
          <h4 class="header_custom _3">Lorem</h4>
          <i class="material-icons">
            contact_phone contact_mail
          </i>
          <ul>
            <li type="square">
              Lorem ipsum dolor
            </li>
            <li type="square">
              Lorem ipsum dolor
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
