.content_view {
  padding-top: 15px;
  @media screen and (min-width: 768px) {
    padding-top: 30px;
    padding-left: 15px;
  }
  .image_size {
    img {
      width: 100%;
    }
    @media screen and (max-width: 768px) {
      margin-bottom: 20px;
    }
  }
  .header_custom {
    background-color: #825638;
    color: white;
    padding-left: 10px;
  }
  ._1 {
    background-color: #524248;
  }
  ._2 {
    background-color: #3a713a;
  }
  ._3 {
    background-color: #484f7b;
  }
  i {
    position: absolute;
    right: 20px;
    top: 2px;
    color: white;
  }
}
p {
  text-align: justify;
  @media screen and (min-width: 991px) {
    margin-bottom: 0px;
  }
}
.section_two {
  @media screen and (min-width: 991px) {
    margin-top: 30px;
  }
}
