<div class="wrapper">
  <div class="container">
    <div class="content_view">
      <div class="row">
        <div class="col-md-12 col-lg-8 image_size">
          <img src="/../assets/img/sd.jpg" alt="">
        </div>
        <div class="col-md-12 col-lg-4">
          <h4 class="header_custom">Perfil</h4>
          <i class="material-icons">
            accessibility
          </i>
          <p>
              Soy un joven con excelente capacidad de aprendizaje, gran facilidad para liderar y fomentar el trabajo en equipo,
              capaz de desarrollar diferentes actividades de acuerdo con mis habilidades. Tengo buenos fundamentos para una fácil adaptación,
              ya que me considero recursivo y creativo, soy responsable, honesto y eficaz para llevar a buen término las funciones y responsabilidades
              que se me asignen. Me desempeño como Desarrollador Web Frontend haciendo uso de tecnologías como CSS Y HTML,
              además el lenguaje de programación Javascript y el framework Angular.
          </p>
        </div>
      </div>
      <div class="row section_two">
        <div class="col-md-12 col-lg-4">
          <h4 class="header_custom _1">Información académica</h4>
          <i class="material-icons">
            school
          </i>
          <p>
            <b>Título:</b> Ingeniero de sistemas. <br> <b>Formación:</b> Universidad Francisco José de Caldas. <br>
            <b>Año:</b> 2017
          </p>
        </div>
        <div class="col-md-12 col-lg-4">
          <h4 class="header_custom _2">Otros estudios</h4>
          <i class="material-icons">
            code done
          </i>
          <ul>
            <li type="square">
              Microsoft 480 Programming in HTML5 with JavaScript and CSS3. <span><b>Año:</b></span> 2015
            </li>
            <li type="square">
              Microsoft 486 Developing ASP.NET MVC Web Applications. <span><b>Año:</b></span> 2015            </li>
            <li type="square">
              Microsoft 487 Developing Microsoft Azure and Web Services. <span><b>Año:</b></span> 2015
           </li>
            <li type="square">
              Microsoft 532 Developing Microsoft Azure Solutions. <span><b>Año:</b></span> 2016
            </li>
            <li type="square">
              Microsoft 533 Implementing Microsoft Azure Infrastructure Solutions. <span><b>Año:</b></span> 2016
            </li>
          </ul>
        </div>
        <div class="col-md-12 col-lg-4">
          <h4 class="header_custom _3">Idiomas</h4>
          <i class="material-icons">
              record_voice_over g_translate
          </i>
          <ul>
            <li type="square">
              Inglés (B1)
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
